
/* ==================== */
/* Default Facebook CSS */
/* ==================== */

.fbbody {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
	padding-top: 20px;
}

/* Default Anchor Style */
.fbbody a {
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.fbbody a:hover {
    text-decoration: underline;
}

/* Facebook Box Styles */
.fbgreybox {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fbbluebox {
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fbinfobox {
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fberrorbox {
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

/* Content Divider on White Background */
.fbcontentdivider {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    background-color: #d8dfea;
}

/* Facebook Tab Style */
.fbtab {
    padding: 8px;
    background-color: #d8dfea;
    color: #3b5998;
    font-weight: bold;
    float: left;
    margin-right: 4px;
    text-decoration: none;
}
.fbtab:hover {
    background-color: #3b5998;
    color: #ffffff;
    cursor: hand;
}

/* Facebook Button Style */
.fbbutton {
	background-color: #3B5998;
	border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding: 2px 15px 3px;
	text-align: center;
}

/* ================= */
/* Basic             */
/* ================= */

#profile_add {
	float: right;
}

/* ================= */
/* Basic Buttons     */
/* ================= */

.comment_button {
	font-size: 11px;
	color: #3b5998;
}

.like_button {
	font-size: 11px;
	color: #3b5998;
}

.fbbutton:visited {
	background-color: #3B5998;
	border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding: 2px 15px 3px;
	text-align: center;
}

/* ================= */
/* User Item List    */
/* ================= */

#user_item_list {
	list-style: none;
  width: 90%;
	min-height: 200px;
}

a.user_name {
	color: #3B5998;
}

a.user_name:visited {
	color: #3B5998;
}

a.user_name:hover {
	color: #3B5998;
	background-color: transparent;
}

.user_item_indent {
	margin-left: 55px;
}

.user_item {
	width: 100%;
}

a.user_item_title {
	font-size: 15px;
	font-weight: bold;
	color: #3B5998;
	min-width: 600px;
}

a.user_item_title:visited {
	color: #3B5998;
}

a.user_item_title:hover {
	color: #3B5998;
	background-color: transparent;
}

.user_item_comments {
	text-align: right;
	float: right;
	font-weight: normal;
}

.user_item_desc {
	padding: 10px 0 0 0;
}

.item_post_time {
	font-size: 10px;
}



/* ================= */
/* Friend Item List  */
/* ================= */

#friend_item_list {
	list-style: none;
  width: 90%;
}

.friend_avatar {
	float: left;
	padding: 0;
	margin: 0;
}

a.friend_name {
	color: #3B5998;
}

a.friend_name:visited {
	color: #3B5998;
}

a.friend_name:hover {
	color: #3B5998;
	background-color: transparent;
}

.friend_item_indent {
	margin-left: 55px;
}

.friend_post_time {
	font-size: 10px;
}

.friend_item {
  padding: 10px;
}

a.friend_item_title {
	font-size: 15px;
	font-weight: bold;
	color: #3B5998;
}

a.friend_item_title:visited {
	color: #3B5998;;
}

a.friend_item_title:hover {
	color: #3B5998;
	background-color: transparent;
}

.friend_item_price { }

.friend_item_desc {
	padding: 5px 0 0 0;
}


/* ================= */
/* Item Show Detail  */
/* ================= */
.item {
	min-height: 300px;
}

.item_indent {
	margin-left: 230px;
}

.item_info {
	list-style: none;
	min-height: 250px;
  padding: 0 10px 10px 0;
}

.item_header {
	width: 100%;
}

.item_title {
	font-size: 25px;
	font-weight: bold;
	width: 80%;
	line-height: 100%;
}

.item_price { 
	font-size: 15px;
	vertical-align: top;
	text-align: right;
	width: 20%;
}

.item_desc { }

.item_images {
	width: 210px;
	height: 210px;
	float: left;
}

.item_main_image {
	width: 200px;
	height: 200px;
}

.item_thumb {
	width: 48px;
	height: 48px;
	padding: 1px;
}

.item_post_time {
	font-size: 10px;
}

.item_buttons {
	vertical-align: bottom;
}

/* ================= */
/* Item Edit Detail  */
/* ================= */
.item_edit_indent {
	margin-left: 70px;
}
.item_edit_label {
	font-weight: bold;
}

/* ================= */
/* Comment Show      */
/* ================= */
.comments {
	margin: 0 0 15px;
}

#comment_posts {
	float: left;
	margin: 0 0 15px;
	padding: 0;
}

.comment_post {
	float: left;
	margin: 0 0 15px;
	padding: 0;
	width: 100%;
}

.comment_image {
	text-align: left;
	vertical-align: top; 
	width: 55px;
}

.comment_content {
	vertical-align: top; 
}

.comment_info {
	border-top: 1px solid #3B5998;
	width: 100%;
}

.comment_header {
	background: #F7F7F7 none repeat scroll 0 0;
	border-bottom: 1px solid #D8DFEA;
	padding: 3px 5px;
}

.comment_text {
	width: 440px;
	padding: 5px;
}

.comment_footer {
	
}

.comment_actions {
	border-bottom: 1px solid #D8DFEA;
	border-top: medium none;
	clear: right;
	padding: 3px 5px;
}

a.comment_delete_button {
	font-size: 11px;
	color: #3b5998;
	font-weight: normal;
}

/* ================= */
/* invitation List   */
/* ================= */

#invitation_list {
	margin-left: 50px;
}

.invitation_avatar {
	float: left;
	padding: 0;
	margin: 0;
}

.invitation_friend {
	font-size: 11px;
	margin-left: 90px;
}
