<p>
	<%= f.error_messages %>
	
	<div class="item_edit_indent">
		<p class="item_edit_label">Item Name:</p>
		<%= f.text_field :title %>
		<br/>
		<p class="item_edit_label">Price:</p>
		<%= f.text_field :price %>
		<br/>
		<p class="item_edit_label">Description:</p>
		<%= f.text_area :description, :rows=>20 %>
	</div>
</p>
<br/>